/* general styles */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
}

/*************** Components*******************/

/* Header component styles */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.logo-text {
  color: #0e0e0e;
  font-size: 0.8rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container > img {
  margin-right: 0.2em;
}

.logo-container > a {
  text-decoration: none;
  color: #0e0e0e;
  font-weight: 700;
  font-size: 0.8125rem;
}

/* Header component navigation bar */

.header-nav-bar {
  font-size: 0.75rem;
}

.header-nav-bar > a {
  margin-right: 0.5em;
  text-decoration: none;
  color: #090909;
  font-weight: 600;
}

.header-nav-bar > a:hover {
  text-decoration: underline;
}

/* Footer component */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  color: #ffffff;
  font-weight: 700;
  height: 105px;
  padding: 1em;
}

.footer-title {
  margin-bottom: 0;
  font-size: 0.75rem;
  color: #ececec;
  text-decoration: none;
}

.footer-copyright-text {
  margin-top: 0.5em;
  font-size: 0.75rem;
  color: #d7d7d7;
}

/* Layout component */
.site-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 414px;
  border-radius: 10px;
  height: 100vh;
}

/*******************Pages ***********************/

/* Home page */

.hero-section {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 293px;
}

.hero-section-text-container {
  margin-left: 1em;
  width: 370px;
}

.hero-section-link {
  text-decoration: none;
}

.hero-section-date {
  margin-bottom: 0;
  font-size: 0.75rem;
}

.hero-section-heading {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.hero-section-paragraph {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.3;
}

/* Blog page */

.article-recent-posts-heading {
  text-align: center;
  margin-bottom: 0;
}

.blog-page-heading {
  margin-top: 3em;
}

/*Blog post page*/

.blog-post-page-container {
  margin-top: 1em;
}

.blog-post-main-heading {
  font-size: 2rem;
}

.blog-post-heading {
  margin-top: 2em;
}

.blog-post-recent-post-heading {
  margin-top: 2em;
}

/*About me page & Blog post page*/

.about-me-page-container,
.blog-post-page-container {
  padding: 1em;
}

.about-me-page-heading,
.blog-post-heading {
  font-weight: 700;
}

.about-me-page-intro {
  margin-bottom: 4em;
}

.about-me-page-container > p {
  line-height: 1.3;
  color: #151515;
}

.about-me-page-intro-image {
  width: 182px;
  height: 182px;
  margin-top: 2em;
}

.about-me-page-last-paragraph {
  margin-bottom: 2em;
}


/*Not Found Page*/

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1em;
}

.return-home-link {
  background-color: #202020;;
  color: #ffffff;
  font-weight: 700;
  width: 100%;
  padding: 1em;
  text-align: center;
  text-decoration: none;
}

/******* Features **********/

/* Article preview feature */

.article-preview-container {
  margin: 0 auto;
  padding: 1em;
}

.article-link {
  text-decoration: none;
}

.article {
  margin-bottom: 3em;
}

.article-image {
  width: 100%;
}

.article-date {
  color: #000000;
  font-size: 0.875rem;
}

.article-heading {
  color: #141414;
  font-size: 1.5rem;
}

.article-intro {
  color: #505050;
  line-height: 1.3;
}

/* View more articles feature */

.view-more-articles {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.view-more-articles-link {
  text-align: center;
  font-weight: 700;
}

.view-more-articles-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Media query for desktop devices */

@media screen and (min-width: 1085px) {
 
  /*Header component*/

  .logo-container > a {
    font-size: 1.25rem;
  }

  .header-nav-bar {
    font-size: 1rem;
  }

  .logo-container > img {
    width: 34px;
  }

  .hero-section {
    height: 448px;
  }

  /*Footer component*/

  .footer-title {
    font-size: 1rem;
  }

  /*Home page*/

  .hero-section-text-container {
    margin-left: 3em;
    margin-bottom: 3em;
    width: 614px;
  }

  .hero-section-date {
    font-size: 1rem;
  }

  /*Blog post page*/

  .blog-post-main-heading {
    font-size: 2.25rem;
  }

  .blog-post-heading {
    font-size: 1.5rem;
  }

  .article-recent-posts-heading {
    font-size: 1.5rem;
  }

  /*About me page & Blog post page*/

  .about-me-page-container,
  .blog-post-page-container {
    margin: 0 auto;
  }

  .about-me-page-intro > div {
    display: flex;
    flex-direction: column;
  }

  .about-me-page-intro > div > h1 {
    margin-bottom: 0.5em;
  }

  .about-me-page-intro-image {
    margin-right: 2em;
  }

  .about-me-page-intro-txt {
    margin-bottom: 0;
    margin-top: 0;
  }

  .blog-post-page-intro-text {
    display: flex;
    align-items: center;
    margin-top: 3em;
    width: 100%;
  }

  /*Not Found Page*/
  .return-home-link {
    width: 50%;
  }

  /*Article preview feature*/

  .article-preview-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 10px;
  }

  .article {
    margin-right: 1em;
  }

  .article-link {
    text-decoration: none;
  }

  .article-date {
    color: #000000;
  }

  .article-heading {
    color: #141414;
  }

  .article-intro {
    color: #505050;
  }
}
